*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #f8f9ff;
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    
  }

.section1{
    padding: 3rem;
  
    h2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    }
    p{
      font-family: 'Mulish', sans-serif;
      text-align: center;
    }
    nav{
      margin: 2rem;
      ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0%;
        padding: 0%;
        li{
          display: flex;
          justify-content: center;
          align-items: center;
          button{
            display: flex;
            background-color: #009379;
            padding: 16px 50px;
            border-radius: 20px;
            color: #f8f9ff;
            border: #009379;
          
            justify-content: center;
            align-items: center;    
          span{
            
            padding-inline-start: 4px;
            
          }
          }
        }
        
            
    
          
        } 
      }
    }
