* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9ff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

h2 {
  font-family: "Poppins", sans-serif;
}
h3 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Mulish", sans-serif;
  text-align: center;
}
.section1 {
  padding: 3rem;
  gap: 20px;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  nav {
    margin: 2rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 0%;
      padding: 0%;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          display: flex;
          background-color: #009379;
          padding: 16px 50px;
          border-radius: 20px;
          color: #f8f9ff;
          border: #009379;

          justify-content: center;
          align-items: center;
          span {
            padding-inline-start: 4px;
          }
        }
      }
    }
  }
  img {
    width: 100%;
  }
}

.section2 {
  .header-type {
    width: 100%;
    height: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 21px;
    }
  }
  picture {
    width: 100%;
    padding: 2rem;
  }
}

.section3 {
  .header-type {
    height: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    h2 {
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 21px;
    }
  }
  article {
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      ul {
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        list-style: none;
        align-self: stretch;
      }
    }
  }
}

.section4 {
  background-color: #f8d57e;
  .header-type {
    height: auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    h2 {
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 21px;
    }
  }
  article {
    border-radius: 20px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    img {
      clip-path: circle(50% at 50% 50%);
    }
  }
}
