* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9ff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
header nav {
  display: none;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.section1 {
  padding: 3rem;
  gap: 20px;
}
.section1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}
.section1 p {
  text-align: center;
}
.section1 nav {
  margin: 2rem;
}
.section1 nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.section1 nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 nav ul li button {
  display: flex;
  background-color: #009379;
  padding: 16px 50px;
  border-radius: 20px;
  color: #f8f9ff;
  border: #009379;
  justify-content: center;
  align-items: center;
}
.section1 nav ul li button span {
  padding-inline-start: 4px;
}
.section1 nav ul .div-li {
  display: none;
}
.section1 img {
  width: 100%;
}

.section2 .header-type {
  width: 100%;
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.section2 .header-type h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-align: center;
}
.section2 .header-type p {
  text-align: center;
  font-size: 21px;
}
.section2 picture {
  width: 100%;
  padding: 2rem;
}

.section3 .header-type {
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.section3 .header-type h2 {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
.section3 .header-type p {
  text-align: center;
  font-size: 21px;
}
.section3 article {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}
.section3 article nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section3 article nav ul {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  align-self: stretch;
}

.section4 {
  background-color: #f8d57e;
}
.section4 .header-type {
  height: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.section4 .header-type h2 {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
}
.section4 .header-type p {
  text-align: center;
  font-size: 21px;
}
.section4 article {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}
.section4 article img {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

@media (width > 450px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
  }
  header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  header nav {
    display: flex;
  }
  header nav ul {
    font-family: "Poppins", sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
  header nav ul li {
    display: flex;
    background-color: #E5F4F2;
    padding: 16px 50px;
    border-radius: 20px;
    color: #009379;
    border: #E5F4F2;
    justify-content: center;
    align-items: center;
  }
  header nav ul li button {
    display: flex;
    background-color: #009379;
    padding: 16px 50px;
    border-radius: 20px;
    color: #E5F4F2;
    border: #009379;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    gap: 30px;
  }
  nav ul .div-li {
    display: initial;
    font-family: "Poppins", sans-serif;
    background-color: #E5F4F2;
    padding: 16px 50px;
    border-radius: 20px;
    color: #009379;
    border: #009379 solid 1px;
  }
}/*# sourceMappingURL=style.css.map */